<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
        <h1 class="display-1 fw-bold text-danger">Ops....</h1>
        <p class="fs-3">A página não foi encontrada.</p>
        <p class="lead">
            A página que você está tentando acessar não existe.
        </p>
        <a href="/" class="btn btn-primary">Voltar para a página inicial</a>
    </div>
</div>

<style>
    body {
        background-color: #f8f9fa; /* Um fundo sutil */
    }
</style>
