<section class="container">
    <section class="usuario">
        <h1>Bem-vindo, {{user.nome}}!</h1>
        <p>Estamos felizes em tê-lo de volta.</p>
        <p>Data de hoje: {{dataAtual}}</p>
    </section>
</section>