<aside class="vertical-nav" id="sidebar">
    <ul class="nav flex-column mb-0">
        <li class="nav-item">
            <a href="/painel/usuario/" class="nav-link">
                <i class="fa fa-home mr-3" aria-hidden="true"></i>
                Home
            </a>
        </li>
        <li class="nav-item">
            <a href="/painel/usuario/agenda" class="nav-link">
                <i class="fa fa-calendar mr-3"aria-hidden="true"></i>
                Agendar
            </a>
        </li>
        <li class="nav-item">
            <a href="/painel/usuario/historico" class="nav-link">
                <i class="fa fa-history mr-3" aria-hidden="true"></i>
                Histórico
            </a>
        </li>
        <li class="nav-item">
            <a href="/painel/usuario/perfil" class="nav-link">
                <i class="fa fa-user mr-3" aria-hidden="true"></i>
                Perfil
            </a>
        </li>
        <li class="nav-item">
            <a href="/logout" class="nav-link">
                <i class="fa fa-sign-out mr-3" aria-hidden="true"></i>
                Sair
            </a>
        </li>
    </ul>
</aside>
