<aside class="vertical-nav" id="sidebar">
    <ul class="nav flex-column mb-0">
        <li class="nav-item">
            <a href="#" class="nav-link text-dark font-italic bg-light">
                <i class="fa fa-home mr-3 text-primary fa-fw"></i>
                Home
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-user mr-3 text-primary fa-fw"></i>
                Profile
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-cog mr-3 text-primary fa-fw"></i>
                Settings
            </a>
        </li>
        <li class="nav-item">
            <a href="#" class="nav-link text-dark font-italic">
                <i class="fa fa-sign-out-alt mr-3 text-primary fa-fw"></i>
                Logout
            </a>
        </li>
    </ul>
</aside>
