<div class="modal fade" id="modalIncluirProduto" tabindex="-1" aria-labelledby="modalIncluirProdutoLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="modalIncluirProdutoLabel">Adicionar Produto</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
            </div>
            <div class="modal-body">
                <form name="add" id="add" class="d-flex flex-column">
                    <div class="row mb-3">
                        <div class="col-8">
                            <div class="input-group">
                                <label for="codigo" class="col-form-label me-3">Código do Produto:</label>
                                <input type="text" name="codigo" id="codigo" class="form-control rounded-3"
                                       placeholder="Código. Ex: 112233" required>
                                <button type="button" class="btn btn-primary ms-3 rounded-3" name="gerarCodigo" id="gerarCodigo" aria-label="Gerar código">
                                    Gerar Código
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-8">
                            <label for="produto" class="col-form-label">Produto: 
                                <i class="fa-solid fa-circle-info"
                                   data-bs-toggle="popover" data-bs-trigger="hover"
                                   data-bs-title="Observação!" 
                                   data-bs-content="Sugerimos que informe apenas o nome do produto. Outras informações, descreva no campo de descrição abaixo."></i>
                            </label>
                            <input type="text" name="produto" id="produto" class="form-control" 
                                   placeholder="Insira o nome do produto aqui." required>
                        </div>
                        <div class="col-4">
                            <label for="saldo" class="col-form-label">Saldo:</label>
                            <input type="number" name="saldo" id="saldo" class="form-control" 
                                   placeholder="Saldo em estoque." required>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="descricao" class="col-form-label">Descrição:</label>
                            <textarea name="descricao" id="descricao" cols="30" rows="5" class="form-control" 
                                      placeholder="Aqui você pode descrever o produto com detalhes." required></textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <label for="observacao" class="col-form-label">Observações:</label>
                            <textarea name="observacao" id="observacao" cols="30" rows="5" class="form-control" 
                                      placeholder="Adicionar observações extras ao produto."></textarea>
                        </div>
                    </div>
                    <div class="d-flex mb-3 justify-content-end">
                        <div class="btn-toolbar" role="toolbar">
                            <div class="btn-group me-2">
                                <button type="submit" class="btn btn-info" id="btnAdicionar">Adicionar</button>
                            </div>
                            <div class="btn-group me-2">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Sair</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/js/gerenciar.js"></script>