<!-- Toast de Sucesso -->
<div class="toast show custom-toast fs-3" id="popupSucesso" role="alert" aria-live="polite" hidden>
  <div class="toast-header-success">
    <span class="me-auto">&#x1F389 &#x1F389 &#x1F389</span>
    <button type="button" class="btn-close ms-4" data-bs-dismiss="toast" aria-label="Fechar"></button>
  </div>
  <div class="toast-body fs-4 bg-white" data-mensagem="true"></div>
  <div class="barra-progresso"></div>
</div>

<!-- Toast de Erro -->
<div class="toast show custom-toast fs-3" id="popupErro" role="alert" aria-live="assertive" hidden>
  <div class="toast-header-error">
    <span class="me-auto">&#x1F635 &#x1F635 &#x1F635</span>
    <button type="button" class="btn-close ms-4" data-bs-dismiss="toast" aria-label="Fechar"></button>
  </div>
  <div class="toast-body fs-4 bg-white" data-mensagem="false"></div>
  <div class="barra-progresso"></div>
</div>

<!-- Toast de Bloqueio -->
<div class="toast show custom-toast fs-3" id="popupBloqueio" role="alert" aria-live="assertive" hidden>
  <div class="toast-header-error">
    <span class="me-auto">&#x1F6D1 &#x1F6D1 &#x1F6D1</span>
    <button type="button" class="btn-close ms-4" data-bs-dismiss="toast" aria-label="Fechar"></button>
  </div>
  <div class="toast-body fs-4 bg-white" data-mensagem="false"></div>
  <div class="barra-progresso"></div>
</div>

<!-- Toast de Logout -->
<div class="toast show custom-toast fs-3" id="popLogout" role="alert" aria-live="polite" hidden>
  <div class="toast-header-alert">
    <span class="me-auto">&#x1F44B &#x1F44B &#x1F44B</span>
    <button type="button" class="btn-close ms-4" data-bs-dismiss="toast" aria-label="Fechar"></button>
  </div>
  <div class="toast-body fs-4 bg-white" data-mensagem="false"></div>
  <div class="barra-progresso"></div>
</div>