<nav class="navbar-expand-lg d-flex justify-content-between mb-4 nav">
    <ul class="navbar-nav m-3" id="navPequena">
        <li class="nav-item me-2" >
            <button class="btn ms-4" type="button" id="btnSideBar" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
        </li>
        <li class="nav-item me-2">
            <h1>Projeto TCC - Barbearia</h1>
        </li>
    </ul>

    <ul class="navbar-nav m-3" id="navPadrao">
        <li class="nav-item me-2">
            <h1>Projeto TCC - Barbearia</h1>
        </li>
    </ul>
    <ul class="navbar-nav m-3 align-self-center nav-buttons">
        <li class="nav-item me-2">
            <a href="/" class="btn-nav">Home</a>
        </li>
        <li class="nav-item me-2">
            <a href="#sobre" class="btn-nav">Sobre</a>
        </li>
        <li class="nav-item me-2">
            <a href="#servicos" class="btn-nav">Serviços</a>
        </li>
        <li class="nav-item me-2">
            <a href="#contato" class="btn-nav">Contato</a>
        </li>
        <li class="nav-item me-2">
            <a href="/login" class="btn-login">Entrar</a>
        </li>
    </ul>
</nav>