<nav class="navbar-expand-lg d-flex justify-content-between mb-4 nav-topo">
    <ul class="navbar-nav m-3" id="navPadrao">
        <li class="nav-item me-2">
            <h1>Projeto TCC - Barbearia</h1>
        </li>
    </ul>
    <ul class="navbar-nav m-3 align-self-center nav-buttons">
        {{#if user.tipo}}
        <li class="nav-item">
            <a href="/painel/usuario/" class="nav-link">
                <i class="fa fa-home mr-3" aria-hidden="true"></i>
                Home
            </a>
        </li>
        <li class="nav-item">
            <a href="/painel/usuario/agenda" class="nav-link">
                <i class="fa fa-calendar mr-3" aria-hidden="true"></i>
                Agendar
            </a>
        </li>
        <li class="nav-item">
            <a href="/painel/usuario/historico" class="nav-link">
                <i class="fa fa-history mr-3" aria-hidden="true"></i>
                Histórico
            </a>
        </li>
        <li class="nav-item">
            <a href="/painel/usuario/perfil" class="nav-link">
                <i class="fa fa-user mr-3" aria-hidden="true"></i>
                Perfil
            </a>
        </li>
        {{else}}
        <li class="nav-item">
            <a href="/painel/funcionario/" class="nav-link">
                <i class="fa fa-home mr-3" aria-hidden="true"></i>
                Home
            </a>
        </li>
        <li class="nav-item">
            <a href="/painel/funcionario/agenda" class="nav-link">
                <i class="fa fa-calendar mr-3" aria-hidden="true"></i>
                Agendar
            </a>
        </li>
        <li class="nav-item">
            <a href="/painel/funcionario/historico" class="nav-link">
                <i class="fa fa-history mr-3" aria-hidden="true"></i>
                Histórico
            </a>
        </li>
        <li class="nav-item">
            <a href="/painel/funcionario/perfil" class="nav-link">
                <i class="fa fa-user mr-3" aria-hidden="true"></i>
                Perfil
            </a>
        </li>
        {{/if}}
        <li class="nav-item">
            <a href="/logout" class="nav-link btn-sair">
                <i class="fa fa-sign-out mr-3" aria-hidden="true"></i>
                Sair
            </a>
        </li>
    </ul>
</nav>