<section class="container border shadow">
    <header class="d-flex justify-content-between m-3">
        <nav aria-label="Navegação administrativa">
            <a href="/admin" class="btn btn-link" aria-label="Voltar ao painel de administração">Voltar</a>
        </nav>
        <h1 class="align-self-start">Lista de Setores</h1>
        <div class="align-self-center">
            <button class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#modalCadastrarSetor" aria-label="Cadastrar novo setor">
                Cadastrar Novo Setor
            </button>
        </div>
    </header>

    <main class="row m-3">
        <!-- Lista de Setores -->
        <section class="d-flex flex-wrap" id="listaSetor"></section>
    </main>

    <!-- Modal para Cadastrar Setor -->
    <section id="modalCadastrar"></section>
</section>


<script type="module" src="/js/admin/setor/formSetor.js"></script>
