<section class="container border shadow">
    <a href="/admin" class="btn btn-link" aria-label="Voltar ao painel de administração">Voltar</a>
    
    <div class="d-flex justify-content-between m-3">
        <h1>Cadastro de Usuários</h1>
    </div>
    
    <section class="row">
        <!-- Lista de Usuários -->
        <div class="d-flex flex-wrap" id="listaUsuarios"></div>

        <!-- Paginação -->
        {{>_paginacao}}
    </section>

    <!-- Modal de Armazém -->
    <section id="armazemModal"></section>
</section>


<script type="module" src="/js/admin/usuario/formUsuario.js"></script>