<section class="imagem-topo">
    <h1>Seu Estilo Merece o Melhor Cuidado</h1>
    <h2>Transformando Seu Visual com Excelência</h2>
    <a href="/servicos" class="btn-info">Ver serviços</a>
</section>
<section id="servicos">
    <ul>
        <!-- TODO: Fazer cards com essa lista de serviços. -->
        <li>Corte Masculino</li>
        <li>Corte Moderno</li>
        <li>Aparar e Modelar a Barba</li>
        <li>Barba Completa com Toalha Quente</li>
        <li>Corte Infantil</li>
        <li>Raspagem de Cabeça (Hair Tattoo)</li>
        <li>Hidratação e Tratamento Capilar</li>
        <li>Coloração Masculina</li>
        <li>Relaxamento e Alisamento Capilar</li>
        <li>Pacote Premium (Corte + Barba + Hidratação)</li>
    </ul>
</section>
<section id="sobre"></section>
<section id="contato"></section>
<section id="localizacao"></section>