@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --cor1: #e7e5e2;
    --cor2: #021130;
    --cor3: #7a5604;
    --cor3-1: #5f4302;
    --cor4: #424b5f;
    --cor5: #dfddd9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    font-weight: 300;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: "cabecalho" "principal" "rodape";
    background-color: var(--cor5);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: var(--cor2);
}

header {
    grid-area: cabecalho;
    text-align: center;
    min-width: 650px;
}

header h1 {
    font-weight: 700;
    font-size: 1.8rem;
    color: var(--cor1);
    margin: 1rem;
}

main {
    grid-area: principal;
    position: relative;
    top: 10rem;
}

.nav-topo {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: var(--cor2);
    padding: 0.5rem;
    width: 100%;

    a {
        margin: 0 1rem;
        color: var(--cor1);
        font-weight: 500;
    }

    a:hover {
        color: var(--cor3);
        text-decoration: underline;
        transition: color 0.3s;
    }

    .btn-sair {
        text-decoration: none;
        border: 3px solid var(--cor1);
        justify-content: center;
        padding: 10px 15px;
    }

    .btn-sair:hover {
        border: none;
        background-color: var(--cor3);
        color: var(--cor1);
        padding: 13px 18px;
        transition: color 0.5s;
    }
}

.nav .flex-column {
    width: 100%;
}

.nav-item:last-child {
    margin-top: auto;
}

.nav-link {
    width: 100%;
    padding: 10px 15px;
    text-decoration: none;
    color: var(--cor1);
    display: flex;
    align-items: center;
}

.nav-link i {
    margin-right: 10px;
    font-size: 1.2em;
}


.agendar {
    align-items: start;
    gap: 10px;
    margin: auto;

    & .input-container {
        position: relative;
        width: 300px;
    }

    & label {
        display: block;
        margin-top: 15px;
        color: var(--cor4);
    }

    & input[type="date"],
    input[type="time"],
    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
    }

    & input[type="date"]::-webkit-calendar-picker-indicator,
    input[type="time"]::-webkit-calendar-picker-indicator,
    select::-webkit-calendar-picker-indicator {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
    }

    & button {
        width: 300px;
        padding: 10px 20px;
        margin-top: 10px;
        background-color: var(--cor2);
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
}

.agendamentos {
    align-items: end;
    gap: 10px;
    margin-left: 35px;
    width: 100%;

    & table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 18px;
        text-align: left;
        background-color: var(--cor1);

        & thead {
            background-color: var(--cor2);
            color: var(--cor1);
        }

        & thead th {
            padding: 12px 15px;
        }

        /* Corpo da tabela */
        & tbody {

            /* Linhas pares */
            & tr:nth-child(even) {
                background-color: var(--cor5);
            }

            /* Linha padrão */
            & tr {
                border-bottom: 1px solid var(--cor4);
            }

            /* Última linha */
            & tr:last-of-type {
                border-bottom: 2px solid var(--cor2);
            }

            /* Células da tabela */
            & td {
                padding: 12px 15px;
                color: var(--cor4);
            }
        }
    }
}

.historico {
    gap: 10px;

    & table {
        width: 100%;
        border-collapse: collapse;
        margin: 20px 0;
        font-size: 18px;
        text-align: left;
        background-color: var(--cor1);
    }

    & thead {
        background-color: var(--cor2);
        color: var(--cor1);
    }

    & thead th {
        padding: 12px 15px;
    }

    & tbody tr:nth-child(even) {
        background-color: var(--cor5);
    }

    & tbody tr {
        border-bottom: 1px solid var(--cor4);
    }

    & tbody td {
        padding: 12px 15px;
        color: var(--cor4);
    }

    & tbody tr:last-of-type {
        border-bottom: 2px solid var(--cor2);
    }

    & tbody tr td[colspan="4"] {
        text-align: center;
        color: var(--cor3);
        font-weight: bold;
    }
}

.dadosConta {
    min-width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border: 1px solid var(--cor4);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    & .card-title {
        font-size: 24px;
        color: var(--cor2);
        margin-bottom: 20px;
    }

    & .form-label {
        display: block;
        margin-bottom: 5px;
        color: var(--cor4);
    }

    & .form-control {
        width: 100%;
        padding: 10px;
        border: 1px solid var(--cor4);
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        margin-bottom: 10px;
        color: var(--cor4);
    }

    & .form-control::placeholder {
        color: var(--cor4);
        opacity: 0.7;
    }

    & .text-muted {
        color: var(--cor3);
    }

    & .btn {
        display: inline-block;
        padding: 10px 20px;
        font-size: 16px;
        font-weight: bold;
        text-align: center;
        color: white;
        background-color: var(--cor2);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    & .btn-primary {
        background-color: var(--cor2);
    }

    & .btn-primary:hover {
        background-color: var(--cor3);
    }

    & .img-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    
        & .img-perfil {
            display: block;
            width: 150px;
            /* Ajuste o tamanho conforme necessário */
            height: 150px;
            /* Ajuste o tamanho conforme necessário */
            border-radius: 50%;
            border: solid 2px var(--cor2);
            background-color: var(--cor4);
        }

        & .input-imagem {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            cursor: pointer;
        }
    }
}

/* Estilização da seção de usuário */
.usuario {
    text-align: center;
    margin-bottom: 20px;

    & h1 {
        font-size: 3.8rem;
        color: #333;
    }
    
    & p {
        font-size: 1.5rem;
        color: #666;
    }
}

#servicos {
    scroll-margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 2rem;
    min-width: 650px;
}

#sobre {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 2rem;
    scroll-margin-top: 130px;
    min-width: 650px;

    & h1 {
        font-weight: 700;
        color: var(--cor2);
    }
}

.img-sobre {
    width: 100%;
    max-height: 50vh;
    object-fit: cover;
    border-radius: 5px;
}

.conteudo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    scroll-margin-top: 130px;
    min-width: 650px;

    & form {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    & label {
        font-weight: 400;
        color: var(--cor2);
    }

    & .btn-contato {
        font-weight: 300;
        color: white;
        background-color: var(--cor2);
        padding: 10px 20px;
        border-radius: 5px;
    }

    & .btn-contato:hover {
        background-color: var(--cor3-1);
    }
}


.footer {
    grid-area: rodape;
    background-color: var(--cor2);
    color: var(--cor1);
    position: relative;
    top: 9rem;
    padding: 1rem;
    min-width: 650px;

    & a {
        color: var(--cor1);
    }

    & a:hover {
        color: var(--cor3);
        text-decoration: underline;
    }
}


.conteudo-horario {
    display: flex;
    flex-direction: row;
}

.lista-rodape,
.link-rodape {
    list-style: none;
}

.backgroung-login {
    position: static;
    background-size: cover;
    /* Preenche completamente */
    background-repeat: no-repeat;
    /* Evita repetição */
    background-position: center;
    /* Centraliza a imagem */
    width: 100%;
    /* Largura igual à largura da janela */
    height: 100%;
}

legend {
    font-family: "Poppins", serif;
    font-weight: 600;
}

iframe {
    width: 100%;
    height: 30%;
    border-style: none;
}

.conteudo-servico {
    display: flex;
    justify-content: center;
}

.toast {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999;
    max-width: 90%;
    width: auto;
    pointer-events: auto;
}

.custom-toast {
    position: absolute;
    /* Fixa o elemento na viewport */
    top: 10px;
    /* Ajusta a distância do topo */
    left: 50%;
    /* Centraliza horizontalmente */
    transform: translateX(-50%);
    /* Corrige o deslocamento para centralização */
    z-index: 9999 !important;
    /* Garante que fique acima de outros elementos (maior que modais do Bootstrap) */
    max-width: 90%;
    /* Define um limite de largura para telas pequenas */
    width: auto;
    /* Ajusta o tamanho automaticamente ao conteúdo */
    pointer-events: auto;
    /* Permite interação com o elemento */

    & .toast-header {
        background-color: #f8d7da;
        /* Fundo claro para o cabeçalho */
        color: #721c24;
        /* Cor do texto de erro */
        border-bottom: 1px solid #f5c6cb;
        /* Linha divisória */
    }

    & .toast-body {
        background-color: #fff;
    }
}

/* Responsividade */

/* Telas pequenas (mobile) */
@media (max-width: 998px) {

    body {
        grid-template-rows: auto 1fr auto;
    }

    .nav {
        flex-direction: column;
        align-items: center;
    }

    .agendamentos {
        width: 100%;
        margin-left: 10px;
        gap: 5px;

        & table {
            font-size: 16px;
            width: 100%;

            & thead th,
            tbody td {
                padding: 10px;
            }
        }
    }
}

/* Telas médias (tablets) */
@media (min-width: 999px) and (max-width: 1299px) {

    body {
        grid-template-rows: auto 1fr auto;
    }

    .nav {
        padding: 0.5rem;
    }
}

/* Telas grandes (desktops) */
@media (min-width: 1200px) {
    .nav {
        justify-content: space-around;
        padding: 0.5rem;
    }
}