<section class="container border shadow">
    <a href="/admin" class="btn btn-link mt-2">Voltar</a>
    <h1 class="m-3">Lista de Solicitações</h1>
    
    <section class="list-group m-3">
        <!-- Lista de Solicitações -->
        <div id="listaSolicitacoes" class="d-flex flex-wrap mt-4"></div>
    </section>

    <!-- Modal de Armazém -->
    <section id="armazemModal"></section>
</section>

<script type="module" src="/js/admin/solicitacao/solicitacao.js"></script>
<script type="module" src="/js/admin/solicitacao/controle.js"></script>