<img src="/img/topo.webp" alt="imagem de background" class="backgroung-login">
<section class="d-flex flex-column">
    <section class="position-absolute top-50 start-50 translate-middle">
        <div class="card">
            <div class="card-body">
                <form id="formEsqueciSenha" action="/esquecerSenha" onsubmit="return validarSenhas();">
                    <legend id="formEsqueciSenhaTitle" class="card-title text-center">Esqueceu sua senha?</legend>
                    <fieldset aria-labelledby="formEsqueciSenhaTitle">
                        <section class="m-3">
                            <label class="form-label" for="email">E-mail</label>
                            <input type="text"
                                   class="form-control mb-3"
                                   name="email"
                                   id="email"
                                   placeholder="exemplo@email.com"
                                   aria-required="true"
                                   aria-describedby="emailFormat"
                                   autocomplete="email"
                                   required>
                            <small id="emailFormat" class="text-muted">Digite no formato exemplo@email.com</small>
                        </section>
                        <section class="d-grid gap-2">
                            <button type="submit" class="btn btn-lg btn-primary m-3" aria-label="Confirmar troca de senha" id="btnSolicitar">Solicitar troca de senha</button>
                        </section>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
</section>

<script type="module" src="/js/login/validacao.js"></script>
<script type="module" src="/js/login/esquecerSenha.js"></script>
<script src="/js/login/util.js"></script>
