<section class="container border shadow-lg p-4">
    <h1 id="solicitarContaTitle">Solicitar Conta</h1>
    <form action="/conta/solicitar" id="formSolicitar" class="d-flex flex-column justify-content-center" aria-labelledby="solicitarContaTitle" onsubmit="return validarCPF();">
        <div class="row mb-3">
            <div class="col-sm-4">
                <label for="nome" class="col-form-label">Nome do Usuário:</label>
                <input type="text"
                       name="nome"
                       id="nome"
                       class="form-control"
                       placeholder="Seu nome aqui."
                       aria-required="true"
                       required>
            </div>
            <div class="col-sm-4">
                <label for="sobrenome" class="col-form-label">Sobrenome do Usuário:</label>
                <input type="text"
                       name="sobrenome"
                       id="sobrenome"
                       class="form-control"
                       placeholder="Seu sobrenome aqui."
                       aria-required="true"
                       required>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-6">
                <label for="cpf" class="col-form-label">CPF:</label>
                <input type="text"
                       name="cpf"
                       id="cpf"
                       class="form-control"
                       placeholder="000.000.000-00"
                       maxlength="14"
                       aria-required="true"
                       required>
                <div id="cpfHelp" class="form-text">Digite seu CPF no formato 000.000.000-00.</div>

            </div>
        </div>
        <div class="row mb-3">
            <div class="col-sm-8">
                <label for="setor">Setor:</label>
                <input type="text"
                       name="setor"
                       id="setor"
                       class="form-control"
                       placeholder="Informe o setor ao qual está lotado."
                       aria-describedby="setorHelp">
            </div>
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-info" aria-label="Solicitar nova conta">Solicitar</button>
            <a href="/" class="btn btn-secondary" aria-label="Voltar à página inicial">Voltar</a>
        </div>
    </form>
</section>

<script type="module" src="/js/conta/solicitar.js"></script>
<script type="module" src="/js/funcoes.js"></script>
